@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";

$Light-color:#fff;
$accent-color:#65e496;
$bg-light-color:#f5f6fa;
$bg-dark-color:#44444f;
$grey-color: #9191b5;

h1, h2, h3, h4, p {
    padding: 0;
    margin: 0;
}

h3 {
    font-size: 24px;
    letter-spacing: 1.3px;

}

body {
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    
}

.wrap {
    max-width: 1170px;
    margin: 0 auto;
}

.page-main {
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    color:$Light-color;
    padding-bottom: 160px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 180px;
    &__logo {
        display: block;
        width: 137px;
        height: 28px;
        background-image: url(../img/Logo.svg);
    }
    &-list {
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        font-family: 'Open Sans', serif;
        margin-top: 4px;
        

        &__item {
            margin-left: 22.4px;
            padding-bottom: 5px;
            border-bottom: 3px solid transparent;
            transition: 0.3s;
            
            &:hover {
                border-bottom: 3px solid $accent-color;
            }
        }
        &__item.active {
            border-bottom: 3px solid $accent-color;
        }
        &__link {
            color: $Light-color;
            text-decoration: none;
            letter-spacing: 0.96px;
        }
    }
}
.block-text {
    flex-basis: calc(100% - 500px);
    &--right {
        margin-left: 108px;
        margin-top: -19px;
    }
    &__name {
        font-family: 'Open Sans', serif;
        font-size: 18px;
        letter-spacing: 1px;
        margin-bottom: 30px;
    }
    &__name_top {
        margin-top: 17px;
        margin-bottom: 19px;
    }
    &__title{
        font-size: 48px;
        font-weight: 700;
        letter-spacing: 1.8px;
        margin-bottom: 42px;
        span {
            display: block;
            color: $accent-color;
            font-size: 18px;
            font-weight: 400;
            margin-top: 11px;
            letter-spacing: 0.9px;
        }
    }
    &__item {
        font-size: 15px;
        font-family: 'Open Sans', serif;
        margin-top: 47px;
        letter-spacing: 0.7px;
        &_title {
            font-family: 'Roboto Slab', serif;
            font-weight: 700;
            margin-top: 8px;
            letter-spacing: 0.9px;
            margin-bottom: 20px;
            font-size: 18px;
        }
        &_desc {
            line-height: 23.5px;
        }
        &_btn {
            display: block;
            color: $Light-color;
            background-color: $accent-color;
            width: 135px;
            text-decoration: none;
            border-radius: 3px;
            text-align: center;
            margin-top: 25px;
            padding: 15px 0;
            letter-spacing: 0.7px;
            font-size: 18px;
            margin-bottom: 60px;
            font-family: 'Roboto Slab', serif;
            box-shadow: 0 2px #b2f1be;
        }
    }
    &__description {
        font-size: 15px;
        font-family: 'Open Sans', serif;
        line-height: 23px;
        width: 580px;
        margin-bottom: 27px;
        letter-spacing: 0.75px;
    }
    &__btn {
        display: block;
        color: $Light-color;
        background-color: $accent-color;
        width: 235px;
        text-decoration: none;
        border-radius: 3px;
        text-align: center;
        margin-top: 48px;
        padding: 15px 0;
        letter-spacing: 0.7px;
        font-size: 18px;
        margin-bottom: 20px;
        font-family: 'Roboto Slab', serif;
        box-shadow: 0 2px #b2f1be;
    }
    &__btn--main {
        box-shadow: 0 2px #59bb88;
        width: 250px;
        
    }
    &__min {
        font-style: italic;
        font-size: 12px;
    }
    &-item {
        &__date {
            font-size: 15px;
        }
        &__title {
            font-size: 18px;
        }
        &__desc {
            font-size: 15px;
        }
        &__btn {
            display: block;
            color: $Light-color;
            background-color: $accent-color;
            width: 135px;
            text-decoration: none;
            border-radius: 3px;
            text-align: center;
            margin-top: 48px;
            padding: 15px 0;
            letter-spacing: 0.7px;
            font-size: 18px;
            margin-bottom: 20px;
            font-family: 'Roboto Slab', serif;
            box-shadow: 0 2px #b2f1be;
        }
    }

}
.block-book {
    display: flex;
    justify-content: space-between;
    &-demo {
        position: relative;
        display: block;
        width: 447px;
        height: 641px;
        background-image: url(../img/book.svg);
        background-repeat: no-repeat;
        flex-basis: 445px;
        &__title {
            position: absolute;
            top: 110px;
            left: 130px;
            letter-spacing: 1.4px;
            font-size: 36px;
            text-transform: uppercase;
            font-family: 'Roboto Slab', serif;
            span {
                font-family: 'Open Sans', serif;
                font-size: 14px;
                display: block;
                color: $accent-color;
                text-transform: none;
                margin-top: 5px;
                letter-spacing: 0.7px;
            }
        }
        &__author {
            font-family: 'Open Sans', serif;
            font-size: 14px;
            color: $accent-color;
            position: absolute;
            bottom: 58px;
            left: 87px;
            letter-spacing: 0.6px;
        }
    }
}
.page {
    padding-top: 159px;
    padding-bottom: 151px;
    &_grey {
        background-color: $bg-light-color;
        padding-bottom: 243px;
    }
    &__title {
        font-size: 48px;
        text-align: center;
        margin-bottom: 11px;
        letter-spacing: 2px;
    }
    &__subtitle {
        color: $accent-color;
        text-align: center;
        font-size: 18px;
        letter-spacing: 0.9px;
        font-family: 'Roboto Slab', serif;
        margin-bottom: 85px;
    }
}
.block-autor {
    display: flex;
    justify-content: space-between;
}

.block-ava {
    position: relative;
    &__svg {
        position: absolute;
        z-index: -1;
        right: 0;
    }
    &__svg--left {
        right: inherit;
        margin-right: 44px;
        
    }
    &__img {
        margin-top: 48px;
        margin-right: 44px;
    }
    &__img--left {
        margin-top: 49px;
        margin-left: 51px;
        margin-right: 0;
    }
}
.block-counter {
    display: flex;
    justify-content: space-around;
    margin-top: 181px;
    p {
        font-family: 'Open Sans', serif;
        text-align: center;
        font-size: 18px;
        span {
            font-family: 'Roboto Slab', serif;
            display: block;
            font-weight: 100;
            font-size: 80px;
            color: $accent-color;
            margin-bottom: 13px;
        }
    }
}
.block-about {
    display: flex;
    justify-content: space-between;
    h3 {
        margin-bottom: 23px;
    }
    
    &-text {
        flex-basis: 40%;
        line-height: 23px;
        letter-spacing: 0.8px;
        &__desc {
            font-family: 'Open Sans', serif;
            letter-spacing: 0.75px;
        }
    }
    &-link {
        font-size: 18px;
        display: flex;
        margin-left: 3px;
        margin-top: 34px;
        p {
            font-family: 'Roboto Slab', serif;
            font-weight: 700;
            margin-right: 15px;
        }
        &__box {
            list-style-type: none;
            display: flex;
            &>li>a {
                color: $accent-color;
                margin: 0 5px 0 10px;
            }
        }
    }
    &-table {
        flex-basis: 48.8%;
        &__list {
            margin: 0;
            padding: 0;
            counter-reset: list;
            column-count: 2;
            &>li {
                position: relative;
                padding-left: 36px;
                counter-increment: list;
                list-style-type: none;
                margin-bottom: 9px;
                letter-spacing: 0.7px;
                line-height: 23px;
                &::before {
                    content: counter(list) ". ";
                }
                &::after {
                    content: "+";
                    position: absolute;
                    left: 0;
                    top: 0px;
                    background-color: #5fc9b5;
                    color: #fff;
                    padding: 0px 7px;
                }
            }
        }
    }
    &-btn {
        background: linear-gradient(to top left, #65e49c, #65e4b0);
        border: none;
        border-radius: 3px;
        width: 135px;
        justify-content: center;
        display: flex;
        align-items: center;
        font-family: 'Roboto Slab', serif;
        font-size: 18px;
        font-weight: 400;
        text-decoration: none;
        height: 49px;
        color: $Light-color;
        margin-top: 24px;
        letter-spacing: 0.7px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            display: block;
            height: 20px;
            width: 100%;
            background-color: #adedbb;
            bottom: -2px;
            z-index: -1;
            border-radius: 3px;
        }
    }
}
.block-other {
    display: flex;
    justify-content: space-around;
    text-align: center;
    &__image {
        background-image: url(../img/bookimg.svg);
        background-repeat: no-repeat;
        width: 269px;
        height: 409px;
        margin: 0 auto;
        margin-bottom: 32px;
        border-radius: 5px;
        position: relative;
        margin-top: 4px;
        &_title {
            position: absolute;
            color: $Light-color;
            text-transform: uppercase;
            top: 70px;
            left: 72px;
            span{
                color: $accent-color;
                font-size: 12px;
                display: block;
                font-family: 'Open Sans', serif;
                font-weight: 400;
                text-transform: none;
                letter-spacing: 0.4px;
                margin-top: 10px;
            }
        }
        &_author {
            color: $accent-color;
            font-size: 12px;
            position: absolute;
            font-family: 'Open Sans', serif;
            font-weight: 400;
            bottom: 33px;
            left: 81px;
            letter-spacing: 0.5px;
        }

    }
    &__title {
        margin-bottom: 16px;
    }
    &__text {
        font-size: 15px;
        font-family: 'Open Sans', serif;
        letter-spacing: 0.7px;
        line-height: 24px;
        width: 330px;
    }
    &__read {
        text-transform: uppercase;
        text-decoration: none;
        color: $accent-color;
        font-family: 'Open Sans', serif;
        font-weight: 700;
        letter-spacing: 1px;
        display: block;
        margin-top: 20px;
    }
    &__btn {
        background: linear-gradient(to top left, #65e49c, #65e4b0);
        border: none;
        border-radius: 3px;
        width: 220px;
        justify-content: center;
        display: flex;
        align-items: center;
        margin: 0 auto;
        font-family: 'Roboto Slab', serif;
        font-size: 18px;
        font-weight: 400;
        text-decoration: none;
        height: 49px;
        color: $Light-color;
        margin-top: 87px;
        letter-spacing: 0.7px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            display: block;
            height: 20px;
            width: 100%;
            background-color: #adedbb;
            bottom: -2px;
            z-index: -1;
            border-radius: 3px;
        }
    }
}

.block-carousel {
    text-align: center;
    h3 {
        color: $accent-color;

    }
    p {
        color: $grey-color;
        font-family: 'Open Sans', serif;
    }
}



.block-blog {
    &-item {
        margin-right: 30px;
    }
    display: flex;
    justify-content: space-between;
    h4 {
        font-size: 18px;
        font-family: 'Roboto Slab', serif;
        font-weight: 700;
        letter-spacing: 0.9px;
        margin-top: 19px;
        margin-bottom: 9px;
    }
    &-img {
        width: 369px;
        height: 224px;
        overflow: hidden;
        position: relative;
        img {
            width: 369px;
            height: 224px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            object-fit: cover;
        }
    }
    &-info {
        font-size: 15px;
        letter-spacing: 0.6px;
        margin-bottom: 15px;
        p {
            display: flex;
        }
        span {
            display: block;
        }
        a {
            color: $accent-color;
            text-decoration: none;
            display: block;
            letter-spacing: 0.7px;
        }
    }
    & + .block-other__btn {
        width: 265px;
    }
    &__desc {
        font-size: 15px;
        font-family: 'Open Sans', serif;
        line-height: 24px;
        letter-spacing: 0.7px;
        margin-bottom: -4px;
    }
}

.block-letter {
    display: flex;
    justify-content: space-between;
    &-item {
        flex-basis: 48.7%;

    }
    &__title {
        font-size: 48px;
        margin-bottom: 10px;
        letter-spacing: 2px;
    }
    &__text {
        font-family: 'Open Sans', serif;
        font-size: 15px;
        letter-spacing: 0.75px;
        line-height: 24px;
    }
    &__input {
        width: 100%;
        background-color: $bg-dark-color;
        border: none;
        color: $grey-color;
        box-sizing: border-box;
        padding: 15px 27px;
        letter-spacing: 0.7px;
        font-family: 'Open Sans', serif;
        border-radius: 3px;
        margin-top: 9px;
        margin-bottom: 20px;
        &::placeholder {
            color: $grey-color;
        }
        &:focus {
            outline: none;
        }
    }
    &__btn {
        display: block;
        border: none;
        color: $Light-color;
        background-color: $accent-color;
        width: 100%;
        text-decoration: none;
        border-radius: 3px;
        text-align: center;
        padding: 15px 0;
        letter-spacing: 0.7px;
        font-size: 18px;
        font-family: 'Roboto Slab', serif;
        box-shadow: 0 2px #b2f1be;
        &:focus {
            outline: none;
        }
    }
}

.footer {
    padding: 160px 0;
    background-color: $bg-dark-color;
    color: $grey-color;
    .block-footer {
        display: flex;
        justify-content: space-between;
        font-family: 'Open Sans', serif;
        font-size: 15px;
        &>div {
            flex-basis: 30%;
            letter-spacing: 0.6px;
        }
        &__logo {
            display: block;
            width: 137px;
            height: 28px;
            background-image: url(../img/Logo-footer.svg);
        }
        &__text {
            line-height: 24px;
            margin-top: 25px;
            letter-spacing: 0.6px;
            width: 370px;
            span {
                display: block;
                margin-top: 25px;
            }
        }
        &__title {
            color: $accent-color;
            font-family: 'Roboto Slab', serif;
            font-size: 18px;
            text-transform: uppercase;
            margin-top: 10px;
            margin-left: 80px;
        }
        &__list {
            list-style-type: none;
            margin-top: 20px;
            line-height: 28px;
            margin-left: 81px;
            a {
                color: $grey-color;
                display: block;
                line-height: 24px;
                text-decoration: none;
            }
        }
        &__social {
            list-style-type: none;
            display: flex;
            margin-left: 80px;
            &_btn {
                color: $accent-color;
                margin-right: 12.5px;
                margin-top: 14px;
                display: block;
            }
        }
    }
}